footer {
  /* border: 2px solid red; */
  /* width: 100%; */
  /* height: 70vh; */
  margin-top: 25px;
  z-index: 2;
  background-color: var(--nav-color);
}

footer .footer_fLine {
  /* border: 2px solid yellow; */
  height: 10px;
  /* background-color: rgb(208, 161, 242); */
}

.footer_content_Box {
  /* height: 50%; */
  height: 210px;
  /* border: 2px solid yellow; */
}

.footer_content {
  /* width: 100%; */
  padding: 10px;
  display: flex;
  /* height: 90%; */
  /* border: 2px solid red; */
}

.footer_cChild {
  background-color: rgba(65, 81, 132, 0.493);
  text-align: center;
  margin: 5px;
  /* border: 1px solid rgb(235, 238, 255); */
  box-shadow: 3px 3px 5px rgb(3, 0, 40),
    inset 1px 1px 5px rgba(52, 44, 161, 0.63);
  flex: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(219, 218, 230);
}

.footer_cChild #footer_cInner2 {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid yellow; */
}

.footer_cChild #footer_cInner2 p {
  /* border: 2px solid yellow; */
  color: rgb(219, 218, 230);
  margin-bottom: 10px;
  font-size: 16px;
}

.footer_cChild #footer_cInner2 div {
  width: 100%;
}

.footer_cChild #footer_cInner2 input {
  background-color: rgba(255, 0, 0, 0);
  width: 60%;
  height: 38px;
  padding: 0px 5px;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.footer_cChild #footer_cInner2 button {
  width: 20%;
  height: 38px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: rgb(11, 7, 66);
  background-color: rgb(219, 218, 230);
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
  transition: all 0.5s ease;
}

.footer_cChild #footer_cInner2 button:hover {
  color: rgb(219, 218, 230);
  background-color: rgb(36, 135, 255);
}

.footer_cChild .footer_cInner3 {
  /* border: 2px solid yellow; */
  padding: 15px 0px;
  text-align: left;
  height: 85%;
  margin: 15px;
}

.footer_cChild .footer_cInner3 li {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

/* .footer_social {
            background-color: rgba(5, 3, 37, 0.082);
            box-shadow: 3px 3px 5px rgb(3, 0, 40), inset 1px 1px 5px rgba(52, 44, 161, 0.63);
            margin: 5px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30%;
            margin-bottom: 10px;
        }

        .footer_social #footer_SInner {
            border: 2px solid yellow;
            height: 90%;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .footer_social #footer_SInner div {
            border: 2px solid red;
            flex: 1;
            display: flex;
            align-items: center;

        }

        .footer_social #footer_SInner div span:nth-child(1) {
            font-size: 34px;
            padding: 10px;
            border-radius: 100px;
        }

        .footer_social #footer_SInner div span:nth-child(2) {
            display: inline;
        } */

.footer_lLine {
  height: 10px;
  /* border: 2px solid green; */
  /* margin-top: 10px; */
  background-color: rgba(65, 81, 132, 0.288);
  animation: aboutus 120s infinite ease;
}
@keyframes aboutus {
  0% {
    background-color: rgba(238, 130, 238, 0.813);
  }
  16.5% {
    background-color: rgba(255, 166, 0, 0.813);
  }
  33% {
    background-color: rgba(255, 255, 0, 0.813);
  }
  49.5% {
    background-color: rgba(0, 128, 0, 0.813);
  }

  66% {
    background-color: rgba(0, 0, 255, 0.813);
  }
  82.5% {
    background-color: rgba(76, 0, 130, 0.813);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.813);
  }
}
