/*  <!-- ===== Navbar ===== --> */

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 99;
  font-family: Poppins, sans-serif;
}

nav .nav-bar {
  height: 100%;
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 30px;
}

nav .nav-bar .logo a {
  text-decoration: none;
  color: var(--highlights);
  font-size: 25px;
  font-weight: 500;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-Wcolor);
  text-decoration: none;
  padding: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1px;
  width: 90%;
  transform: translateX(-50%);
  background-color: var(--text-Wcolor);
  opacity: 0;
  transition: all 0.3s ease;
}
.nav-links li:hover a::before {
  opacity: 1;
}

.darkLight-searchBox {
  --darkText-color: rgb(217, 217, 217);
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 100%;
}
.darkLight-searchBox:hover {
  border: 0.1px solid rgba(255, 255, 255, 0.237);
}

body.dark {
  nav .nav-bar .logo a {
    text-decoration: none;
    color: var(--dark_heading1);
  }

  .darkLight-searchBox:hover {
    border: 13px solid rgba(255, 255, 0, 0.388);
    border: 13px solid rgba(253, 249, 24, 0.484);
  }

  nav .nav-bar .dark-light span i {
    /* color: black; */
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 600px) {
  nav {
    height: 75px;
  }

  nav .nav-bar {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    padding: 0px;
  }

  nav .nav-bar .logo a {
    font-size: 22px;
    padding: 0px;
  }

  .nav-bar .nav-links {
    display: flex;
    margin: 2px 0px;
    padding: 0;
  }

  .nav-bar .nav-links li {
    align-items: center;
  }

  .nav-links li a {
    font-size: 18px;
    padding: 0px;
    padding-bottom: 5px;
  }

  .darkLight-searchBox {
    position: absolute;
    top: 2px;
    right: 30px;
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .nav-bar .nav-links {
    padding: 0;
  }

  .nav-bar .nav-links li {
    align-items: center;
  }
}
