nav {
  height: 75px;
}

nav .nav-bar {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  padding: 0px;
}

nav .nav-bar .logo a {
  font-size: 22px;
  padding: 0px;
}

.nav-bar .nav-links {
  display: flex;
  margin: 2px 0px;
  padding: 0;
  /* border: 2px solid green; */
}

.nav-bar .nav-links li {
  align-items: center;
  /* border: 2px solid yellow; */
}

.nav-links li a {
  font-size: 18px;
  padding: 0px;
  padding-bottom: 5px;
}

.darkLight-searchBox {
  position: absolute;
  top: 2px;
  right: 30px;
  font-size: 22px;
}
