.spe {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* border: 2px solid red; */
  /* margin: 30px 0px; */
}
.spe_h1 {
  color: white;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px black;
  font-size: var(--heading1);
}

.speBox {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 90%;
  /* border: 2px solid yellow; */
  position: relative;
  border-radius: 0 40px 0 40px;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(8, 0, 62), inset 2px 2px 3px rgb(149, 158, 255);
}

.speBox_pre {
  display: flex;
  /* border: 2px solid red; */
  width: 100%;
  height: 50%;
}

.speBox_child {
  flex-wrap: nowrap;
  transition: all 1s ease;
  /* flex: 1; */
  position: relative;
  display: flex;
  justify-content: center;
  /* background-color: white; */
  /* border: 2px solid green; */
  border-left: 5px solid #3273dc;
  box-shadow: 0px 1px 4px rgb(220, 220, 220);

  /* border-right: rgb(9, 211, 168) */
}

.speBox_pre :nth-child(1),
.speBox_pre :nth-child(2) {
  width: 50%;
  height: 100%;
  position: relative;
}

.spe .spa_active1 {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgb(206, 217, 223); */
  /* background-color: #0d6efd; */
  background-color: #363a8e;
  border-radius: 0 40px 0 40px;
}

.spe .spa_active2 {
  background-color: #363a8e;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 40px 0 40px;
}

.spe .spa_active3 {
  background-color: #363a8e;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 40px 0 40px;
  /* background-color: red; */
}

.spe .spa_active4 {
  background-color: #363a8e;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0px 40px 0 40px;
}
#speBox_child2 {
  border-radius: 0px 40px 0 0px;
}
#speBox_child3 {
  border-radius: 0px 0px 0 40px;
}

.speBox_child .spe_heading {
  position: absolute;
  width: 80%;
  top: 30px;
  height: 50px;
  text-align: center;
  color: rgb(40, 40, 255);
  text-shadow: 0.5px 0.5px 2px black;

  font-size: 45px;
  line-height: 55px;
  /* border: 2px solid red; */
}

.speBox_child .spe_pera {
  position: absolute;
  width: 70%;
  top: 100px;
  height: 100px;
  /* right: (50%, -50%); */
  /* border: 2px solid red; */
  color: var(--text-Wcolor);
  opacity: 0;
  text-shadow: 0.5px 0.5px 2px black;
}

.speBox_child .spe_pera_active {
  opacity: 1;
}

.speBox_child .spe_btn {
  position: absolute;
  width: 30%;
  bottom: 10px;
  /* padding: 20px 20px; */
  /* height: 10px; */
  /* right: (50%, -50%); */
  /* border: 2px solid red; */
  text-align: center;
  /* background-color: red; */
  opacity: 0;
  font-weight: bolder;
}

.spe_btn a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  /* text-transform: uppercase; */
  overflow: hidden;
  transition: 0.5s;
  /* margin-top: 40px; */
  letter-spacing: 4px;

  /* border: 2px solid red; */
}

.spe_btn a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.spe_btn a span {
  position: absolute;
  display: block;
}

.spe_btn a span:nth-child(1) {
  top: -7px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.spe_btn a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.speBox_child .spe_btn_active {
  opacity: 1;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 90px;
  color: rgb(255, 255, 255);
  /* background-color: red; */
  padding: 30px 10px;
  z-index: 2;
}

body.dark {
  /* <!-- ===== Spe section ===== --> */
  .speBox,
  .spe .spa_active1,
  .spe .spa_active2,
  .spe .spa_active3,
  .spe .spa_active4 {
    background-color: var(--nav-color);
  }

  .spe_h1 {
    color: var(--dark_heading1);
  }
  .speBox_child {
    border-left: 5px solid var(--dark_heading1);
    box-shadow: 0px 0.5px 1px rgb(101, 101, 101);
  }
  .speBox_child .spe_heading {
    color: var(--darkText-color);
    text-shadow: 2px 2px 7px rgb(0, 0, 0);
  }
}
