* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Times New Roman", Times, serif; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: 0px 0px;
  padding-top: 30px;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper ul li .img :hover {
  transform: scale(1.3);
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.707);
}

.wrapper i {
  height: 50px;
  width: 50px;
  background: rgba(58, 57, 57, 0.293);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25 rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 2;
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 23px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel li {
  list-style: none;
}
.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  /* width: 98%; */
  height: 340px;
  width: 350px;
  border-radius: 8px;
  padding-bottom: 15px;
  /* border: 2px solid red; */
  text-decoration: none;
}

.card .img {
  background: #0b0742;
  width: 145px;
  height: 145px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}

.card h2 {
  font-weight: 600;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  color: #292d3e;
}
.card h2:hover {
  text-shadow: 6px 6px 6px #2523458c, 3px 3px 3px #6a6d78, 3px 3px 3px #2523458c;
}
.card .img:hover {
  box-shadow: 0px 25px 80px #2523458c;
}

.card span {
  color: #6a6d78;
  font-size: 17px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* <!-- ===== Dark CSS ===== --> */
body.dark {
  --body-color: #18191a;
  --nav-color: #292d3e;
  --darkText-color: rgb(217, 217, 217);
  --SdarkText-color: rgb(163, 163, 163);
  --dark_heading1: rgb(9, 211, 168);

  color: var(--highlights);

  nav .nav-bar .logo a {
    text-decoration: none;
    color: var(--dark_heading1);
  }
  .card {
    background-color: #292d3e;
  }
  .card span {
    color: rgba(153, 149, 149, 0.811);
  }
  .card h2 {
    color: #fff;
  }
  .button a {
    color: white;
  }
}
